@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

@font-face {
  font-family: 'ClashDisplay';
  src: url('./fonts/ClashDisplay-Extralight.woff2') format('woff2');
  font-weight: 200;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./fonts/ClashDisplay-Light.woff2') format('woff2');
  font-weight: 300;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./fonts/ClashDisplay-Regular.woff2') format('woff2');
  font-weight: 400;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./fonts/ClashDisplay-Medium.woff2') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./fonts/ClashDisplay-Semibold.woff2') format('woff2');
  font-weight: 600;
}

@font-face {
  font-family: 'ClashDisplay';
  src: url('./fonts/ClashDisplay-Bold.woff2') format('woff2');
  font-weight: 700;
}